*{
  margin: 0;
  padding: 0;

}

body{
  height: 200vh; 

}

/*top1*/
.imgbandeira{
  height: 20px;
}
.topsite{
  background-color: #4D4D4D;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 10px;
  position: relative;
  color: white;
  font-size: 15px;
}
.idioma{
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.buttonstop{
  display: flex;
  margin-right: 30px;
}
.icontop{
  height: 15px;
  margin-right: 5px;
}
.butonschaild{
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.carrinhoconpras{
  display: flex;
  align-items: center;
  background-color: #808080;
  height: 35px;
  position: relative;
  padding: 0 10px;
  left: 0.7%;
}

@media (max-width: 820px){
  .texfav{
    display: none;
  }
  .buttonstop{
    margin-right: 0;
  }
}
@media (max-width: 600px){
  .texcarrinho{
    display: none;
  }
  .carrinhoconpras{
    left: 1.7%;
  }
}

/*top2*/
.top2{
  background-color: black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

}
.imglogost{
  height: 30px;
}
.listatop2{
  color: white;
  height: 50px;
  list-style: none;
  display: flex;
 align-items: center;
  font-weight: bold;
  font-size: 20px;
  background-color: blue;
}
.listatop2 span {
  margin: 20px;
  cursor: pointer;
}
.caixadepesquisa{
  width: 290px;
  border-radius: 100px;
  background-color: #fff;
}
.inputpes{
  height: 35px;
  width: 250px;
  text-align: center;
  font-size: 20px;
  border: none;
  border-radius: 100px 0 0 100px;
}

.bi-search:hover{
  color:#0000FF;
}
.divcateg{
  width: 20%;
  height: 391px;
  border: 0.5px solid black;
 
}

/* section 2 */

.topcard{
  background-color: black;
  color: white;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  font-weight: bolder;
  
}
.bi-list-ul{
  margin-right: 5px;
}

.itens-categ1{
  font-weight: bold;
  background-color: #FFFFFF;
  height: 43px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.itens-categ2{
  font-weight: bold;
  background-color: #F0F0F0;
  height: 43px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.sectionmain{
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding-right: 50px;
}
.divslide1{
  width: 70%;
  display: flex;
  justify-content: flex-end;
}


.ds{
  display: flex;
  flex-direction:column; 
  align-items:center;
}
.imgproduto{
  height:150px;
  margin: 15px;
}
.secproduto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.descproduto{
  font-size:25px;
  color:rgb(75, 75, 75)
}
.preçoproduto{
  font-size:20px;
  margin-bottom: 5px;
  font-weight: bold;
}












/*SLIDE*/
.card {
  position: relative;
  
  width: 1000px;
  height: 385px;
  overflow: hidden;

  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*Light blue cover above the slide show*/
.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(140, 22, 115, 0.2);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  transform: translateX( 700px );
  background-image: url(slide/imagem1.jpg );
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  
  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}


.card_part.card_part-two {
  z-index: 6;
  background-image: url(slide/imagem2.jpg );
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 5;
  background-image: url(slide/imagem3.jpg );
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 14s;
}

.card_part.card_part-four {
  z-index: 4;
  background-image: url(slide/imagem4.jpg );
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-delay: 21s;
}


@keyframes opaqTransition {
  3% { transform: translateX( 0 ); }
  25% { transform: translateX( 0 ); }
  28% { transform: translateX( -1000px ); }
  100% { transform: translateX( -1000px ); }
}

/*part second*/
.ds{
  height: 300px;
  border: 0.5px solid #000000;
  background-color: #fff;
}
.sectionprotutos1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mostmais{
  border: 0.5px solid #d7d7d7;
  height: 40px;
  width: 230px;
  margin: 10px 0;
  text-align: center;
  line-height: 35px;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: black;
}
.topprodutos{
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 2px 10px;
  width: 230px;
  text-align: center;

}
